<footer class="w-screen bg-[#5C00BF] text-[#FF8600] px-9 py-4 flex justify-between items-start">
    <div class="text-3xl font-press">
      The SocEngIA
    </div>
    <div class="flex space-x-8">
      <div class="text-left">
        <div class="text-lg font-bold">Legal</div>
        <div class="text-sm hover:underline cursor-pointer">Mention légales</div>
      </div>
      <div class="text-left">
        <div class="text-lg font-bold">Contact</div>
        <div class="text-sm hover:underline cursor-pointer">Contactez-nous</div>
      </div>
    </div>
  </footer>
  