<!-- Section Hero -->
<section
  class="relative w-screen h-[70vh] bg-cover bg-center flex"
  style="background-image: url('assets/images/boitumelo-fP9VEkZ-L0s-unsplash.jpg');"
>
  <div class="absolute inset-0 bg-black/50 pointer-events-none"></div>
  <div class="absolute top-0 left-20 h-full flex flex-col justify-center items-start">
    <h1 class="text-4xl md:text-5xl font-bold text-orange-400 tracking-wide shadow">
      {{ 'CHALLENGE.HERO.TITLE' | translate }}
    </h1>
    <div class="bg-purple-600 h-2 ml-4 w-10 mt-2"></div>
    <p class="text-base md:text-lg lg:text-xl leading-relaxed text-[#FF8600] max-w-2xl mt-6">
      {{ 'CHALLENGE.HERO.TEXT' | translate }}
    </p>
  </div>
</section>

<!-- Section: Les challenges -->
<section class="py-12 bg-[#2E2E2E]">
  <div class="max-w-7xl mx-auto px-4">
    <h2 class="text-center text-4xl font-bold mb-6 text-orange-400 tracking-wide">
      {{ 'CHALLENGE.LIST.TITLE' | translate }}
    </h2>
    <p class="text-center text-base font-bold mb-12 tracking-wide text-orange-400">
      {{ 'CHALLENGE.LIST.INTRO' | translate }}
    </p>

    <div class="flex flex-col gap-8 items-center">
      <ng-container *ngFor="let card of [1,2,3]">
        <a href="#"
           class="flex flex-col items-stretch bg-white md:flex-row w-full md:max-w-5xl dark:bg-[#2E2E2E] gap-4"
        >
          <img
            class="object-cover h-full md:w-64 border-[2px] border-[#FF8600]"
            src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg"
            alt="{{ 'CHALLENGE.LIST.CARD.IMAGE_ALT' | translate }}"
          />
          <div
            class="flex flex-col justify-between p-2 border-[2px] border-[#FF8600] bg-[#5C00BF] leading-normal"
          >
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FF8600] mt-2 pl-3">
              {{ 'CHALLENGE.LIST.CARD.TITLE' | translate }}
            </h5>
            <p class="mb-3 font-normal text-[#FF8600] mt-2 pl-3">
              {{ 'CHALLENGE.LIST.CARD.TEXT' | translate }}
            </p>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>

<!-- Section: Saisonniers -->
<section class="py-12 bg-[#2E2E2E] border-[5px] border-[#FF8600]">
  <div class="max-w-7xl mx-auto px-4">
    <h2 class="text-center text-4xl font-bold mb-12 text-orange-400 tracking-wide">
      {{ 'CHALLENGE.SEASON.TITLE' | translate }}
    </h2>
    <p class="text-center text-base font-bold mb-12 tracking-wide text-orange-400">
      {{ 'CHALLENGE.SEASON.INTRO' | translate }}
    </p>
    <div class="grid grid-cols-4 gap-8">
      <ng-container *ngFor="let card of [1,2,3,4]">
        <div class="bg-white shadow-sm dark:bg-[#2E2E2E]">
          <a href="#">
            <img
              class="rounded-t-lg"
              src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg"
              alt="{{ 'CHALLENGE.SEASON.CARD.IMAGE_ALT' | translate }}"
            />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <h5 class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-left">
              {{ 'CHALLENGE.SEASON.CARD.TITLE' | translate }}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
              {{ 'CHALLENGE.SEASON.CARD.TEXT' | translate }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
