<section
  class="relative w-screen h-[70vh] bg-cover bg-center flex"
  style="background-image: url('assets/images/boitumelo-fP9VEkZ-L0s-unsplash.jpg'); background-repeat: no-repeat;"
>
  <div class="absolute top-0 left-0 w-full h-full bg-black/50 pointer-events-none"></div>
  <div class="absolute top-0 left-20 ml-30 h-full flex flex-col justify-center items-start">
    <h1 class="text-4xl md:text-5xl font-bold text-orange-400 tracking-wide shadow">
     Nos Challenges
    </h1>
    <div class="bg-purple-600 h-2 ml-4 w-10 mt-2"></div>
    <p class="text-base md:text-lg lg:text-xl leading-relaxed text-[#FF8600] max-w-2xl mt-6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique non adipisci deleniti repudiandae maiores quis eaque iste repellendus in magni pariatur iusto dicta nobis eum, dolorum rem, delectus accusamus doloremque!
     </p>
  </div>
  <div class="relative z-10 flex items-end justify-center w-full text-center text-white p-4">
    <button 
      class="mb-8 text-3xl flex items-center gap-4 px-10 py-4 
             border-[2px] border-[#FF8600] text-[#FF8600] rounded 
             hover:bg-[#FF8600] hover:text-white 
             transition-colors duration-200"
    >
      En Savoir +
    </button>
  </div>
</section>

<!-- Section: Les challenges -->
<section class="py-12 bg-[#2E2E2E]">
    <div class="max-w-7xl mx-auto px-4">
      <h2 class="text-center text-4xl font-bold mb-6 text-orange-400 tracking-wide">
        Les challenges
      </h2>
      <p class="text-center text-base font-bold mb-12 tracking-wide text-orange-400">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A expedita ea nemo sunt asperiores modi, 
        laboriosam maiores sequi sint praesentium, facilis, souvent dolor ducimus ipsum culpa beatae quod provident sapiente?
      </p>

        <!-- Card 1 -->
        <a href="#"
           class="flex flex-col items-stretch bg-white md:flex-row w-full md:max-w-5xl dark:bg-[#2E2E2E] gap-4">
          <img class="object-cover h-full md:w-64 border-[2px] border-[#FF8600]" 
               src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" 
               alt="Aperçu de la card 1">

          <div class="flex flex-col justify-between p-2 border-[2px] border-[#FF8600] bg-[#5C00BF] leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FF8600] mt-2 pl-3">
              Challenge
            </h5>
            <p class="mb-3 font-normal text-[#FF8600] mt-2 pl-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates molestiae similique pariatur minus debitis iste alias enim voluptatibus nesciunt modi aliquid, inventore quis cum sint rerum quas? Rem, beatae.
            </p>
          </div>
        </a>
        <!-- Card 2 -->
        <a href="#"
           class="flex flex-col items-stretch bg-white md:flex-row w-full md:max-w-5xl dark:bg-[#2E2E2E] gap-4">
          >
          <img class="object-cover h-full md:w-64 border-[2px] border-[#FF8600]" 
               src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" 
               alt="Aperçu de la card 1">

          <div class="flex flex-col justify-between p-2 border-[2px] border-[#FF8600] bg-[#5C00BF] leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FF8600] mt-2 pl-3">
              Challenge
            </h5>
            <p class="mb-3 font-normal text-[#FF8600] mt-2 pl-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates molestiae similique pariatur minus debitis iste alias enim voluptatibus nesciunt modi aliquid, inventore quis cum sint rerum quas? Rem, beatae.
            </p>
          </div>
        </a>
        <!-- Card 3 -->
        <a href="#"
           class="flex flex-col items-stretch bg-white md:flex-row w-full md:max-w-5xl dark:bg-[#2E2E2E] gap-4">
          
          <img class="object-cover h-full md:w-64 border-[2px] border-[#FF8600]" 
               src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" 
               alt="Aperçu de la card 1">

          <div class="flex flex-col justify-between p-2 border-[2px] border-[#FF8600] bg-[#5C00BF] leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FF8600] mt-2 pl-3">
              Challenge
            </h5>
            <p class="mb-3 font-normal text-[#FF8600] mt-2 pl-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates molestiae similique pariatur minus debitis iste alias enim voluptatibus nesciunt modi aliquid, inventore quis cum sint rerum quas? Rem, beatae.
            </p>
          </div>
        </a>
      </div>
  </section>

   <!-- Section: Challenge -->
<section class="py-12 bg-[#2E2E2E] border-[5px] border-[#FF8600]">
    <div class="max-w-7xl mx-auto px-4">
      <h2 class="text-center text-4xl font-bold mb-12 text-orange-400 tracking-wide">
        Nos challenge saisonniers
      </h2>
      <p class="text-center text-base font-bold mb-12 tracking-wide text-orange-400">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A expedita ea nemo sunt asperiores modi, 
        laboriosam maiores sequi sint praesentium, facilis, saepe dolor ducimus ipsum culpa beatae quod provident sapiente?
      </p>
      <div class="grid grid-cols-4 gap-8">
        
        <!-- Card 1 -->
        <div class="bg-white shadow-sm dark:bg-[#2E2E2E]">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 1" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <H5 class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-left">Challenge</H5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam.
            </p>
          </div>
        </div>
    
        <!-- Card 2 -->
        <div class="bg-white shadow-sm dark:bg-[#2E2E2E]">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 2" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <H5 class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-left">Challenge</H5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam.
            </p>
          </div>
        </div>
    
        <!-- Card 3 -->
        <div class="bg-white shadow-sm dark:bg-[#2E2E2E]">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 3" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <H5 class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-left">Challenge</H5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam.
            </p>
          </div>
        </div>
  
        <!-- Card 4 -->
        <div class="bg-white shadow-sm dark:bg-[#2E2E2E]">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 4" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <H5 class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-left">Challenge</H5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam.
            </p>
          </div>
        </div>
  
      </div>
      <div class="relative z-10 flex items-end justify-center w-full text-center text-white p-4">
        <button 
          class="mb-8 text-3xl flex items-center gap-4 px-10 py-4 
                 border-[2px] border-[#FF8600] text-[#FF8600] rounded 
                 hover:bg-[#FF8600] hover:text-white 
                 transition-colors duration-200"
        >
          En Savoir +
        </button>
      </div>
    </div>
  </section>
  
  
  
  
  
  