<!-- Section principale de la page Home -->
<section
  class="relative w-screen h-[70vh] bg-cover bg-center flex"
  style="background-image: url('assets/images/boitumelo-fP9VEkZ-L0s-unsplash.jpg'); background-repeat: no-repeat;"
>
  <!-- Overlay noir pour assombrir la photo -->
  <div class="absolute top-0 left-0 w-full h-full bg-black/50 pointer-events-none"></div>

  <div class="relative z-10 flex items-end justify-center w-full text-center text-white p-4">
    <button 
      class="mb-8 text-3xl flex items-center gap-4 px-10 py-4 
             border border-[#FF8600] text-[#FF8600] rounded 
             hover:bg-[#FF8600] hover:text-white 
             transition-colors duration-200"
    >
      En Savoir +
    </button>
  </div>
</section>
<section class="flex h-[700px]">

    <div class="w-1/2 flex flex-col justify-center items-center p-8 bg-[#2E2E2E]">
      <h2 class="text-[30px] font-bold mb-8 text-[#FF8600] text-center">Maitrisez l'ingénierie Social</h2>
      <p class="text-base md:text-lg leading-relaxed mb-6 text-[#FF8600] text-center">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
        vero eos et accusam et justo duo dolores et ea rebum.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
        vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button class="px-6 py-2 border border-[#FF8600] text-[#FF8600] rounded 
                     hover:bg-[#FF8600] hover:text-white transition-colors duration-200">
        A propos
      </button>
    </div>
  
    <div class="w-1/2 relative overflow-hidden">
      <img src="assets/images/sebastian-kanczok-mNEYVEjalV8-unsplash.jpg" 
           alt="Description de l'image" 
           class="absolute inset-0 w-full h-full object-cover">
    </div>
  </section>

   <!-- Section: Challenge -->
   <section class="py-12 bg-[#2E2E2E] border-[5px] border-[#FF8600]">
      <h2 class="text-center text-4xl font-bold mb-12 text-orange-400 tracking-wide">
        Challenge
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        
        <!-- Card 1 -->
        <div class="max-w-sm bg-white shadow-sm dark:bg-[#2E2E2E] mx-auto">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 1" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam, reiciendis deserunt quam quia nobis repellendus voluptatum omnis porro.
            </p>
          </div>
        </div>
  
        <!-- Card 2 -->
        <div class="max-w-sm bg-white shadow-sm dark:bg-[#2E2E2E] mx-auto">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 2" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam, reiciendis deserunt quam quia nobis repellendus voluptatum omnis porro.
          </div>
        </div>
  
        <!-- Card 3 -->
        <div class="max-w-sm bg-white shadow-sm dark:bg-[#2E2E2E] mx-auto">
          <a href="#">
            <img class="rounded-t-lg" src="assets/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="Illustration Card 3" />
          </a>
          <div class="p-5 border-[2px] border-[#FF8600]">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi obcaecati cum architecto, at, animi temporibus explicabo dignissimos et aut quod veniam, reiciendis deserunt quam quia nobis repellendus voluptatum omnis porro.
          </div>
        </div>
      </div>

      <div class="relative z-10 flex items-end justify-center w-full text-center text-white p-4">
        <button 
          class="mb-8 text-3xl flex items-center gap-4 px-10 py-4 
                 border-[2px] border-[#FF8600] text-[#FF8600] rounded 
                 hover:bg-[#FF8600] hover:text-white 
                 transition-colors duration-200"
        >
          En Savoir +
        </button>
    </div>
  </section>
  
  
  
  
  